body{
  background-image: /home/golda/Documents/triangle-tracker/images;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.title{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

*{
  text-align: center;
}

h1{
  text-align: center;
  padding: 10px;
  padding-top: 40px;
  text-decoration: underline;
  font-size: xx-large;
  font-family: sans-serif;
  color: maroon;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
label{
  padding: 10px;
  font-style: italic;
}

input{
  padding: 3px;
}
